$C_BLACK: #000000;

$C_BLUE: #3496ff;

$C_YELLOW: #ffc107;

$C_GREEN: #28a745;

$C_RED: #dc3545;

$C_WHITE: #ffffff;

$C_WHITE_GRAY: #f4f5f5;

$C_WHITE_GRAY2: #e0e0e0;

$C_DARK_GRAY: rgb(51, 51, 51);

$C_GRAY: rgb(109, 109, 109);
