.header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.title{
        padding: 20px;
        color: white;
        font-size: 40px;

    }
    >.inputContainer{
        width: calc(100vw - 60px);
        padding: 20px;
        display: flex;
        align-items: center;
        >button{
            border-radius: 20px;
            font-size: 20px;
            width: 70px;
            padding: 0;
            margin-left: 10px;
            background-color: white;
            border: 0px;
            &:hover{
                transform: translate(-2px, -2px);
                background-color: aliceblue;
                transition: 0.2s;
              }
            &:active{
              transform: translate(0px, 0px);
              transition: 0.2s;
            }
        }
        >input{
            width: calc(100% - 220px);
            height: 35px;
            font-size: 20px;
            padding-left: 10px;
            margin: 0;
            border-radius: 20px;
            &:focus{
                background-color: antiquewhite;
              }
        }
    }
}
.loginButton{
  border-radius: 25px;
  width: 45px;
  height: 45px;
  padding: 0;
  margin-left: 15px;
  background-color: white;
  border: 0px;
  &:hover{
      transform: translate(-2px, -2px);
      background-color: aliceblue;
      transition: 0.2s;
    }
  &:active{
    transform: translate(0px, 0px);
    transition: 0.2s;
  }
}
ul {
    column-gap: 12px;
    row-gap: 8px;
    max-height: calc(100vh - 82px);
    width: 100%;
    padding: 20px;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    
  }
