@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: c.$C_BACKGROUND;
}

.header {
  @include m.flex();
  width: 100%;
  height: 60px;
  font-size: 32px;
  font-weight: 700;
  color: white;
  background-color: c.$C_PRIMARY;
}

.items {
  @include m.flex();
  flex-wrap: wrap;
  width: 100%;
  max-height: calc(100vh - 60px);
  padding: 20px;
  overflow-y: scroll;
  row-gap: 10px;
  column-gap: 10px;
}
