@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrapper{
    @include m.flex(center,center,column);
    border:1px solid c.$C_GREY;
    background-color: c.$C_WHITE;
    border-radius: 8px;
    flex-grow: 1;
    width: 320px;
    height:360px;
    padding:12px;
    text-align: center;
    font-weight: 500;
    &:hover{
        transform: translateY(-30px);
        cursor: pointer;
        box-shadow: 0 10px 20px c.$C_GREY;
        transition: box-shadow 0.2s linear;      
    }
    
  
        //@include m.flex(center,center,column);
        //flex-grow: 1;
        > img{
            width: 140px;
            height: 140px;
            object-fit: contain;
        }
        > h2 {
            font-size: 25px;
            font-weight: 500px;
            margin-top: 12px;
        }
        
        > p{
            max-width: 200px;
            margin-top: 12px;
        }
    
  
    
    

}